@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    color: #888888;
}

#header {
    position: relative;
    text-align: center;
    color: white;
}

#header::before {
    content: '';
    position: absolute;
    background-color:#707070;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
    z-index: -1;
    height: 100%;
    width: 100%;
}

#header-title h1 {
    font-size: 20px;
    padding-top: 60px;
    font-weight: 300;
}

#header-title h2 {
    font-size: 40px;
}

#header-title p {
    font-size: 14px;
    padding: 20px 0;
}

.navbar_menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 40px auto 0 auto;
    flex-wrap: wrap;
    width: 800px;
    padding: 0 0 8% 0;
}

.navbar_button {
    width: 160px;
    height: 40px;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    font-size: 14px;
    color: #888888;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.navbar_button:hover {
    cursor: pointer;
}

#newsletter {
    display: flex;
    max-width: 85%;
    margin: auto;
    flex-wrap: wrap;
}

.form_control {
    width: 100%;
}

.button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    width: 340px;
    height: 40px;
    color: #888888
}

@media screen and (max-width: 800px) {
    
    #header-title {
        text-align: left;
        margin-left: 20px;
    }

    #header-title h2 {
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    #header p {
        padding: 0;
    }
    
    .navbar_menu {  
        width: 90%;
        padding: 10px 0 60px 0;
    }

    .navbar_menu > * {
        margin: 1.25%;
    }

    .navbar_button {
        width: 160px;
        padding: 10px;
    }



    .button {
        width: 100%;
    }
}