#newsletter {
    display: flex;
    margin: 5px;
    padding: 10px;
    flex-wrap: wrap;
}

.form_control {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin: 5px auto 15px auto;
}

.container_title {
    display: flex;
    font-size: 18px;
}

.newsletter-container {
    width: 60%;
    padding: 10px;
}

#newsletter-text {
    line-height: 20px;
}

#newsletter-text p {
    margin-top: 10px;
    font-size: 12px;
}

#form-container {
    width: 40%;
    padding: 20px;
    font-size: 12px;
}

.collapse {
    color: #707070;
    background-color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}

.collapse:hover {
    cursor:default;
}

@media screen and (max-width: 1000px) {
    .newsletter-container {
        width: 100%;
    }
    
    #newsletter-text {
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        position: relative;
        transition: max-height 1s;
    }
    
    #form-container {
        margin: auto;
        width: 100%;
        max-width: 380px;
    }

    .container_title {
        font-size: 15px;
    }

    .collapse {
        text-align: left;
    }
    
    .collapse:hover {
        cursor:pointer;
    }

    .collapse::after {
        content: "\f077";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }
    
    .collapse-active::after {
        content: "\f078";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }

}