#newsletter {
    display: flex;
    margin: 5px;
    padding: 10px;
    flex-wrap: wrap;
}

.form_control {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin: 5px auto 15px auto;
}

.container_title {
    display: flex;
}

#newsletter-container {
    width: 60%;
    padding: 10px;
}

#newsletter-text {
    height: 220px;
    line-height: 20px;
    font-size: 12px;
}

#newsletter-text p {
    margin-top: 10px;
}

#form-container {
    width: 40%;
    padding: 10px;
}

#collapse ion-icon{
    display: none;
}

#collapse {
    text-decoration: none;
    color: #707070;
}

#collapse:hover {
    cursor:default;
}

#newsletter-container ion-icon {
    position: relative;
    left: 100%;
    top: 100;
}

@media all and (max-width: 1000px) {
    #newsletter-container {
        width: 100%;
    }
    
    #newsletter-text {
        width: 100%;
        height: 100%;
    }
    
    #form-container {
        margin: auto;
        width: 100%;
        max-width: 380px;
    }
    
    #collapse ion-icon {
        display: block;
    }
}